# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.project
/.settings
/.vscode/
/.idea/
/bin/
/.classpath
/gradle.properties

# Ignore configuration files
src/test/resources/testVariables.properties
src/test/resources/simplelogger.properties

# Other ignores
src/main/resources/logo.svg