# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.project
/.settings
/.vscode/
/bin/
/.classpath
/gradle.properties

# Ignore Gradle wrapper
gradle/
gradlew
gradlew.bat

# Ignore configuration files
src/test/resources/testVariables.properties
src/test/resources/simplelogger.properties

# Other ignores
src/main/resources/logo.svg